body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

input, textarea {
    font-family: 'Poppins', sans-serif;
    outline: none;
}
header {
    width: 100%;
    height: 100vh;
    background-image: url('./assets/landing-background.png');
    background-position: left;
    background-size: cover;
}
 nav {
    background-color: white;
    width: 100%;
    height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 28px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
  }
  #logo {
    width: 40px;
  }
  
  .dropdown-wrapper {
    display: inline-block;
    position: relative;
  }
  #menu-icon {
    display: none;
  }
  
  .dropdown-wrapper:hover .dropdown {
    display: block;
  }
  .menu-item {
    color: black;
    font-weight: 600;
    font-size: 14px;
    margin-right: 24px;
    cursor: pointer;
  }
  
  .dropdown {
    width: 120px;
    border-top: 2px solid rgb(170, 210, 54);
    padding: 10px;
    position: absolute;
    background-color: white;
    box-shadow: 0 2px 5px #ccc;
    display: none;
  }
  .dropdown a {
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ccc;
    padding: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  .dropdown a:last-of-type {
    border: 0;
  }
  .menu-item i {
    padding-left: 4px;
  }
  #primary-button {
    font-size: 12px;
    font-weight: 600;
    color: white;
    background-color: rgb(170, 210, 54);
    padding: 9px 34px;
    border: 0;
    border-radius: 4px;
    margin-right: 16px;
    cursor: pointer;
  }
  #overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

  #Buy-Now {
    position: fixed;
    top:10%;
    left:32%;
    display: none;
    max-width: 430px;
    padding-bottom: 3%;
    padding-right:2%;
    background-color: rgb(170, 210, 54);
    /*box-shadow: 10px -14px 5px 45px #666600;*/
    border-radius: 14px;
    
    background-image: url('./assets/form_background.jpg');
    z-index: 3;
  }
  #form-heading {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 1.3px;
  }
  .input-item {
    margin-top: 25px;
    margin-left: 120px;
    margin-right: 5px;
    width: 60%;
    height: 10px;
    padding: 8px 3px;
    /*background-color: rgb(170, 210, 54);*/
    border: none;
    border-bottom: 1px solid #353839;
    font-size: 14px;
    outline: none;
  }
  label {
    margin-top: 35px;
    margin-left: 100px;
    width: 50%;
    height: 10px;
    padding: 15px 3px;
    border: none;
  }
  #Veggies {
    height: 30px;
    width: 150px;
    border: 0;
    border-bottom: 1px solid black;
    outline: none;
    
  }
  #LVeggies {
    height: 30px;
    border: 0;
    border-bottom: 1px solid black;
    outline: none;   
    
  }
  .qty {
    height: 30px;
    border: 0;
    border-bottom: 1px solid black;
    outline: none;
  }
  #btn {
    margin-top: 40px;
    margin-left: 220px;
    background-color: #ff3399;
    background-image: linear-gradient(65deg, #ff0066, #ff3300);
    width: 125px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: honeydew;
    font-weight: 700;
    letter-spacing: 1px;
  }
  #display-message-wrapper {
    display: none;
    vertical-align: top;
    position: absolute;
    text-align: center;
    top: 100px;
    left:35%;
    max-width: 400px;
    height: 200px;
    padding: 40px;
    border-radius: 5px;
   background-image: url('./assets/strawberry.jpg');
   background-position:center;
    z-index: 4;
  }
  #display-msg-btn {
    margin-top: 40px;
    margin-bottom:60px;
    background-color: #ff3399;
    background-image: linear-gradient(65deg, #ff0066, #ff3300);
    width: 125px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: honeydew;
    font-weight: 700;
    letter-spacing: 1px;
    
  }
  #help-div {
    display: block;
    text-align: center;
    width: 300px;
    height: 200px;
    box-shadow: 4px 8px 6px 10px #aaa;
    border-radius: 5px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor:pointer;
    z-index:5;
  }
  #help-div img {
    width: 100px;
    border-radius: 50%;
  }
  #help-div h3 {
    background-image: linear-gradient(65deg, #ff0066, #ff3300);
    border-bottom: 2px solid #aaa;
    padding-bottom: 2px;
  }
  #help-div h5 {
    font-size: 16px;
    margin-bottom: 0;
  }
  #help-div h5 i {
    margin-right: 10px;
    font-size: 28px;
    color: red;
  }
  #section1{
    display:block;
    width: 100%;
    height: 100vh;
}
#section1-main-text{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
#section1-main-text h1{
    max-width: 1100px;
    font-size: 44px;
    font-weight: 600;
    letter-spacing: 8.8px;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    }
#sec1para{
    font-weight: 400;
    width: 100%;
    max-width: 1100px;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #8b8b99;
    text-align: center;
    padding-top: 32px;
    
}
/* SECTION 2 STYLES START====================================== */
#section2{
    display:flex;
    justify-content:stretch;
}
.sec-item{
width:25%;
display:block;
padding: 112px 48px;
text-align: center;
color: white;
box-sizing: border-box;

}
.sec-item i{
    font-size: 96px;
    transition: all 0.3s;
}
.sec-item:hover i{
    transform: scale(1.5, 1.5);
}
#first{
    background-color:#5acda6;
}
#second{
    background-color: #91ac41;
}
#third{
    background-color: #e4b476;
}
#fourth{
    background-color: #f69dad;
}
.sec2para{
width: 100%;
max-width: 1100px;
font-size: 14px;
letter-spacing: 0.5px;
font-weight: 400;
color:white;
text-align: center;
}
/* Section 3 styles===========*/

#store-section {
    width: 100%;
    background-color: #f7eee2;
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
}

#fresh-food-heading {
    color: #91ac41;
    font-size: 24px;
    font-family: 'Caveat', cursive;
    margin: 0;
    margin-top: 35px;
}

#store-section > h3 {
    font-size: 44px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 8px;
}

#store-desc {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    color: #8b8b99;
    letter-spacing: 0.5px;
    margin-bottom: 55px;
}

#store-items-wrapper {
    width: 100%;
    max-width: 1140px;
    display: flex;
    justify-content: stretch;
    margin: 0 auto;
}

.store-item {
    width: 25%;
    text-align: center;
    padding: 24px;
}

.icon-wrapper {
    display: inline-block;
    background-color: #e3b375;   
    border-radius: 50%;
    padding: 40px;
    color: white;
    transition: all 0.3s;
}

.store-item:hover .icon-wrapper{
    transform: scale(1.3, 1.3);
}

.icon-wrapper i {
    font-size: 60px;
}

.store-item h3 {
    font-size: 24px;
    font-weight: 600;
}

.store-item p {
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: #8b8b99;
}
/* STORE SECTION STYLES ENDS */



/*SECTION 4 STYLES STARTED*/
#testimonials-section {
    width: 100%;
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
}

#testimonials-heading {
    color: #91ac41;
    font-size: 24px;
    font-family: 'Caveat', cursive;
    margin: 0;
    margin-top: 35px;
}

#testimonials-section > h3 {
    font-size: 44px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 8px;
}

#testimonials-desc {
    max-width: 700px;
    font-size: 16px;
    font-weight: 500;
    margin: 0 auto;
    color: #8b8b99;
    letter-spacing: 0.5px;
    margin-bottom: 55px;
}

#testimonials-wrapper {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.testimonial-item {
    width: 25%;
    text-align: center;
    background-color: #f5f6fb;
    padding: 40px 30px;
    margin: 16px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    transition: box-shadow 0.3s;
}

.testimonial-item:hover {
    box-shadow: 0 12px 16px 0 rgba(39,39,47,0.06);
}

.testimonial-item img {
    width: 80px;
    margin-bottom: 25px;
    border-radius: 50%;
}

.testimonial-message {
    font-size: 14px;
    color: #8b8b99;
    letter-spacing: 0.5px;
    font-style: italic;
    margin: 0;
}

.testimonial-item h3 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 0px;
}

.job-role {
    color: #8b8b99;
    font-size: 12px;
    font-style: italic;
    letter-spacing: 0.5px;
    margin: 0;
}
/* TESTIMONIALS SECTION STYLES END */




/* FOLLOW US SECTION STYLES START */
#follow-section {
    display: flex;
    justify-content: stretch;
}

#left-section {
    width: 67%;
    display: inline-block;
    margin: 0;
}

#left-section img {
    width: 100%;
}

#right-section {
    width: 33.33%;
    margin: 0;
    display: inline-block;
    background-image: url('./assets/strawberry-white.png');
    background-position: left;
    background-size: cover;
}

#right-section #text-wrapper {
    margin: 115px;
}

#right-section #text-wrapper h3 {
    font-size: 44px;
    font-weight: 600;
    margin: 0 0 8px;
}

#right-section #text-wrapper p {
    color: #8b8b99;
    font-size: 16px;
    letter-spacing: 0.5;
    line-height: 1.6;
    margin: 0;
}

#subscribe-email {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-radius: 4px;
    font-weight: 500;
    background-color: white;
    padding: 12px;
    color: #8b8b99;
    font-size: 16px;
    margin-top: 60px;
    display: block;
}

#subscribe-btn {
    background-color: #f69dad;
    padding: 16px 42px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    border: 0;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 16px;
}

#subscribe-btn:hover {
    color: #f69dad;
    border: 1px solid #f69dad;
    background-color: transparent;
}

/* FOLLOW US SECTION STYLES END */



/* STATS SECTION STYLES START */
#stats-section {
    width: 100%;
    background-color: #f6fcfa;
}

#stats-wrapper {
    width: 100%;
    max-width: 1140px;
    padding: 100px 0;
    margin: 0 auto;
    text-align: center;

    display: flex;
    justify-content: stretch;
}

.stats-item {
    width: 25%;
    padding: 0 64px;
}

.stats-item h3 {
    font-size: 44px;
    font-weight: 600;
    margin: 0;
}

.stats-item p {
    color: #57e3b5;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-style: italic;
    margin: 0;
}

/* STATS SECTION STYLES END */




/* VIDEO SECTION STYLES START */
#video-section h3 {
    color: #8b8b99;
    font-size: 44px;
    font-weight: 400;
}

#video-section > div {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

#line-separator {
    width: 96px;
    display: inline-block;
    height: 1px;
    background-color: #e4b476;
    margin-bottom: 36px;
}

#video-section iframe {
    width: 100%;
    height: 425px;
}

/* VIDEO SECTION STYLES END */



/* ADDRESS SECTION STYLES START */
#address-wrapper {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

#address-wrapper > div {
    width: 50%;
}

#address-wrapper > div:last-of-type{
    width: 40%;
}

.green-heading {
    color: #91ac41;
    font-size: 24px;
    font-family: 'Caveat', cursive;
    margin: 0;
    margin-top: 35px;
}

.section-heading {
    font-size: 600;
    font-size: 44px;
    margin: 0;
}

.section-description {
    font-size: 16px;
    font-weight: 400;
    color: #8b8b99;
    letter-spacing: 0.5px;
}

.address-heading {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    margin-top: 32px;
}

.address-lines {
    font-size: 16px;
    font-weight: 400;
    color: #8b8b99;
    letter-spacing: 0.5px;
    line-height: 2;
    margin: 0;
}

.input-box {
    width: 100%;
    padding: 16px;
    font-size: 16px;
    color: #8b8b99;
    border-radius: 6px;
    border: 1px solid #e5e6ec;
    margin-bottom: 16px;
    box-sizing: border-box;
}

#btn-submit {
    font-size: 16px;
}

/* ADDRESS SECTION STYLES END */



/* FOOTER SECTION STYLES START */
footer {
    background-color: #232323;
    color: white;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 30px 0px;
}
/* FOOTER SECTION STYLES END */

@media screen and (max-width: 762px) {    
    .menu-item {
        display: none;
    }
    #primary-button {
        margin-right: 20px;
    }
    #overlay{
        width:100%;
    }
   #menu-icon {
        display: block;
      }
    

    #section1-main-text > h1 {
        font-size: 28px;
    }

    #sec1para{
        padding: 16px;
        box-sizing: border-box;
    }

    #section2 {
        width: 100%;
        flex-direction: column;
    }
    
    .sec-item {
        width: 100%;
    }

    #store-section {
        padding: 16px;
        box-sizing: border-box;
    }

    #storee-section h3 {
        font-size: 28px;
    }

    #store-items-wrapper {
        flex-direction: column;
        text-align: center;
    }

    .store-item {
        width: 100%;
        box-sizing: border-box;
    }

    #testimonials-section {
        padding: 16px;
        box-sizing: border-box;
    }

    #testimonials-section > h3 {
       font-size: 28px; 
    }

    #testimonials-wrapper {
        flex-direction: column;
    }

    .testimonial-item {
        width: 100%;
        box-sizing: border-box;
    }

    .testimonial-by {
        font-size: important 18px;
    }

    #follow-section {
        flex-direction: column;
    }
    
    #right-section #text-wrapper {
        margin: 16px;
    }

    #right-section #text-wrapper h3 {
        font-size: 28px;
    }

    #left-section {
        width: 100%;
    }

    #right-section {
        width: 100%;
    }

    #stats-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #stats-item {
        width: 100%;
    }

    #address-wrapper {
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 16px;
        padding-top: 0;
        box-sizing: border-box;
    }

    #address-wrapper > div {
        width: 100%;
    }

    #address-wrapper > div:last-of-type {
        width: 100%;
    }
    #Buy-Now{
       max-width:none;
       position: absolute;
       top:75px;
       left:0;
    }
    #display-message-wrapper{
        max-width:none;
        width:300px;
       position: absolute;
       top:175px;
      left:30px;
      
    }

}